In [19]:
ls=[[3,4,6],[2,7,9],[6,9,2]]
s=0
r=0
for i in range(len(ls)):
    for j in range(len(ls[i])):
        if i==j:
            s=s+ls[i][j]
        if i==0:
            r=r+ls[i][j]
print(r)

13

In [ ]:
import pandas as pd
file= pd.ExcelFile('islington.xlsx')

In [23]:
a=input()
b=int(input())

type(b)

dfga
34

int

In [24]:
import json
whole= list()
for i in range(5):
    part=dict()
    part["name"]=input("enter student name")
    part["maths"]=input("enter maths marks")
    part["nepali"]=input("enter nepali marks")
    part["social"]=input("enter social marks")
    part["english"]=input("enter english marks")
    whole.append(part)
with open("islington.txt","w")as wfile:
    wfile.write(json.dumps(whole))

enter student nameraghab
enter maths marks23
enter nepali marks2
enter social marks2
enter english marks2
enter student name2
enter maths marks2
enter nepali marks43
enter social marks34
enter english marks435
enter student namerobin
enter maths marks87
enter nepali marks78
enter social marks87
enter english marks67
enter student nameseason
enter maths marks99
enter nepali marks87
enter social marks98
enter english marks78
enter student namepucar
enter maths marks87
enter nepali marks98
enter social marks98
enter english marks78

In [27]:
import json
r=list()
big=dict()
file=open("islington.txt","r")
r=json.load(file)
d=dict()
avg=0
tmaths=0
tenglish=0
tnepali=0
tsocial=0
name=input("enter name to calculate %")
for i in range(len(r)):
    d=r[i]
    print(d)
    if d["name"]==name:
        avg=int(d["maths"])+int(d["social"])
        print(avg)
    tmaths=tmaths+int(d["maths"])
    tnepali=tnepali+int(d["nepali"])
    tsocial=tsocial+int(d["social"])
    tenglish=tenglish+int(d["english"])
big={"tmaths":tmaths,"tnepali":tnepali,"tsocial":tsocial,"tenglish":tenglis
sorted_d = sorted((value) for (value) in big.items())
print(sorted_d) 
print(sorted_d[0])

enter name to calculate %pucar
{'name': 'raghab', 'maths': '23', 'nepali': '2', 'social': '2', 'english': '2'}
{'name': '2', 'maths': '2', 'nepali': '43', 'social': '34', 'english': '435'}
{'name': 'robin', 'maths': '87', 'nepali': '78', 'social': '87', 'english': '67'}
{'name': 'season', 'maths': '99', 'nepali': '87', 'social': '98', 'english': '78'}
{'name': 'pucar', 'maths': '87', 'nepali': '98', 'social': '98', 'english': '78'}
185
[('tenglish', 660), ('tmaths', 298), ('tnepali', 308), ('tsocial', 319)]
('tenglish', 660)